#btnBuy {
  color: #fcf6ec;
  background-color: rgb(27, 64, 27);
  margin-right: 1vw;
}
.css-jcn4dz-MuiBadge-badge {
  color: #fcf6ec !important;
  background-color: black !important;
}
#btnClear {
  color: #fcf6ec;
  background-color: rgb(27, 64, 27);
}
