#button {
  color: white;
}
#navbar_color {
  background-color: transparent !important;
  box-shadow: none !important;
}
#active {
  background-color: rgb(125, 142, 125) !important;
}
a {
  text-decoration: none;
}
